[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
pytest-django = "*"
flake8 = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
Collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
python-decouple = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.8"
