{% extends 'base/base.html' %} 
{% load static %}
{%block title%}Python Pro - Video{% endblock title%}
{% block description %}Página de vídeo gratuito de Python{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">{{ video.titulo |default:"Faltando Titulo" }}</h1>
                <iframe width="640" height="320" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock body %}
