{% extends 'base/base.html' %} 
{% load static %}
{%block title%}Python Pro - Home{% endblock title%}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2 class="mr-lg-4">
					<br>
					Curso de Python com Luciano Rvamalho
				</h2>
				<h4 class="mt-4">Matriculas abertas</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7WUWzRNsM/button" target="_blank" title="Pagar com PagSeguro">
				<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
				</a>
				<br>
				<!-- FIM DO BOTAO PAGSEGURO -->
{#					<h4 class="mt-4">Entre na Lista de espera</h4>#}
{#				<form action="https://gmail.us2.list-manage.com/subscribe/post?u=7db2392aabd7652112727a48c&amp;id=9870346765" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>#}
{#				   <div class="form-row align-items-center">#}
{#                    <div class="col-auto">#}
{#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
{#                           <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
{#                                   placeholder="exemplo@email.com">#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                           <label class="sr-only" for="mce-FNAME">Nome</label>#}
{#   							<input type="text" class="form-control mb-2 mr-sm-2" id="mce-FNAME" placeholder="Seu Nome">#}
{#						</div>#}
{#    				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
{#  				   <div style="position: absolucould i have a statement, please?te; left: -5000px;" aria-hidden="true"><input type="text" name="b_a4954439a852f86a833c5a5ab_d9c6db188d" tabindex="-1"value=""></div>#}
{#				   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>#}
{#   			 	</form>#}
				<!-- <p>
					Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro
					<a href="https://novatec.com.br/livros/pythonfluente/" target="_blank" >Python Fluente</a>
				</p> -->
			</div>
		</div>
		
	</div>
	<div class="row">

		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/luciano-ramalho2.jpeg' %}" alt="Foto de Luciano Ramalho" class="img-thumbnail float-lg-start"/>
						Luciano Ramalho is a Technical Principal at ThoughtWorks and the author of Fluent Python (OReilly, 2015).Ramalho was a web developer before the Netscape IPO in 1995,and has worked on some of the largest news portals in Brazil using Python since 1998.He has spoken multiple times at OSCON, PyCon, PythonBrasil, FISL, and RuPy. Ramalho is a fellow of the Python Software Foundation and co-founder of Garoa Hacker Clube, the first hackerspace in Brazil.
					</p>
				</div>
			</div>
	{% endblock body %}